@using Sfa.Careers.Common.Helpers
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Services;
@using Sfa.Careers.Web.Extensions;

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <title>National Careers Service</title><!--[if gt IE 8]><!-->
    <!--[if IE 6]>
    @Html.StyleSheet(@Html.GetLocationAssetFileAndVersion(Url.Content("gds_service_toolkit_BAU/css/all-ie8.min.css")))
    <![endif]-->
    <!--[if IE 7]>
    @Html.StyleSheet(@Html.GetLocationAssetFileAndVersion(Url.Content("gds_service_toolkit_BAU/css/all-ie8.min.css")))
        <![endif]-->
    <!--[if IE 8]>
        @Html.StyleSheet(@Html.GetLocationAssetFileAndVersion(Url.Content("gds_service_toolkit_BAU/css/all-ie8.min.css")))
    <![endif]-->

    @if (SystemManager.IsDesignMode == SystemManager.IsPreviewMode)
    {

        <!--[if IE 8]>
            <script>
                (function() {
                    if (window.opera) {
                        return;
                    }
                    setTimeout(function() {
                            var a = document,
                                g,
                                b = {
                                    families: (g =
                                        ["nta"]),
                                    urls: ["@Html.GetLocationAssetFileAndVersion("gds_service_toolkit_BAU/css/fonts-ie8.css")"]
                                },
                                c = "@Html.GetLocationAssetFileAndVersion("gds_service_toolkit_BAU/js/vendor/goog/webfont-debug.js")",
                                d = "script",
                                e = a.createElement(d),
                                f = a.getElementsByTagName(d)[0],
                                h = g.length;
                            WebFontConfig = { custom: b }, e.src = c, f.parentNode.insertBefore(e, f);
                            for (;
                                h = h - 1;
                                a.documentElement
                                    .className += ' wf-' + g[h].replace(/\s/g, '').toLowerCase() + '-n4-loading');
                        },
                        0);
                })()
            </script>
        <![endif]-->

    }
    <!--[if gte IE 9]><!-->

    <link href="@Html.GetLocationAssetFileAndVersion("gds_service_toolkit_BAU/images/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <link href="@Html.GetLocationAssetFileAndVersion("gds_service_toolkit_BAU/images/national-careers-service.svg")" rel="mask-icon" class="link-back" />
    <link href="@Html.GetLocationAssetFileAndVersion("gds_service_toolkit_BAU/images/apple-touch-icon-152x152.png")" rel="apple-touch-icon-precomposed" sizes="152x152" />
    <link href="@Html.GetLocationAssetFileAndVersion("gds_service_toolkit_BAU/images/apple-touch-icon-120x120.png")" rel="apple-touch-icon-precomposed" sizes="120x120" />
    <link href="@Html.GetLocationAssetFileAndVersion("gds_service_toolkit_BAU/images/apple-touch-icon-76x76.png")" rel="apple-touch-icon-precomposed" sizes="76x76" />
    <link href="@Html.GetLocationAssetFileAndVersion("gds_service_toolkit_BAU/images/apple-touch-icon-60x60.png")" rel="apple-touch-icon-precomposed" />
    @Html.StyleSheet(@Html.GetLocationAssetFileAndVersion(Url.Content("gds_service_toolkit_BAU/css/all.min.css")))
    @Html.StyleSheet(@Html.GetLocationAssetFileAndVersion(Url.Content("gds_service_toolkit_BAU/css/custom.min.css")))

    <!--[if !IE 8]><!-->
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    @if (!ConfigHelper.GmProdEnvironment)
    {
        var gmCode = string.Format(@"'&gtm_auth={0}&gtm_preview={1}&gtm_cookies_win=x'", ConfigHelper.GmAuthKey, ConfigHelper.GmPreview);

        <!-- Google Tag Manager -->
        <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' +
                i +
                dl +
               @Html.Raw(gmCode);
                f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-W8VKZZ');
        </script>
    }
    else
    {
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    'gtm.start':
                        new Date().getTime(),
                    event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-W8VKZZ');
        </script>
    }
    <!-- End Google Tag Manager -->
    <script type="text/javascript">var sessionTimeoutIntervalPeriod = @Session.Timeout * 60 * 1000 + 60000;</script>
    @Html.Section("head")
</head>
<body>
    @if (SystemManager.IsDesignMode == SystemManager.IsPreviewMode)
    {

        <script>
            document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
        </script>
    }

    <!-- Google Tag Manager (noscript) -->
    @if (!ConfigHelper.GmProdEnvironment)
    {
        var noscript = string.Format("https://www.googletagmanager.com/ns.html?id=GTM-W8VKZZ&gtm_auth={0}&gtm_preview={1}&gtm_cookies_win=x", ConfigHelper.GmAuthKey, ConfigHelper.GmPreview);
        <noscript>
            <iframe src="@Html.Raw(noscript)" title="Analytics"
                    height="0" width="0" style="display: none; visibility: hidden"></iframe>
        </noscript>
    }
    else
    {
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8VKZZ" title="Analytics"
                    height="0" width="0" style="display: none; visibility: hidden"></iframe>
        </noscript>
    }

    <!-- End Google Tag Manager (noscript) -->

    @Html.Section("top")
    <div class="sfPublicWrapper" id="PublicWrapper">
        @Html.SfPlaceHolder("HeaderContent")
        <main id="content" role="main">
            @Html.SfPlaceHolder("BreadcrumbExtender")
            @Html.SfPlaceHolder("MainContentTop")
            @Html.SfPlaceHolder("MainContent")
            @Html.SfPlaceHolder("MainContentBottom")
        </main>
        @Html.SfPlaceHolder("FooterContent")
    </div>
    <div class="app-error hidden" id="global-app-error"></div>
   
    @Html.Section("bottom")
   
        @Html.Script(@Html.GetLocationAssetFileAndVersion("gds_service_toolkit_BAU/js/jquery.min.js"), "bottom")
        @Html.Script(@Html.GetLocationAssetFileAndVersion("gds_service_toolkit_BAU/js/all.min.js"), "bottom")
        @Html.Script(@Html.GetLocationAssetFileAndVersion("gds_service_toolkit_BAU/js/dfcdigital.min.js"), "bottom")

    </body>
</html>