@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.INavigationModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Navigation.Mvc.Models;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web;
@using Telerik.Sitefinity.Services;

@helper GetClass(NodeViewModel node)
{
if(node.IsCurrentlyOpened)
{
        @Html.Raw("active");
}
else if(node.HasChildOpen)
{
        @Html.Raw("active");
    }
}

<aside class="govuk-related-items" role="complementary">
    @if(SystemManager.CurrentHttpContext.Request.Url.AbsolutePath.EndsWith("/your-account/home", StringComparison.OrdinalIgnoreCase) == true)
    {
        <h2 class="heading-medium" id="subsection-title">Manage your account</h2>
    }
    else
    {
        <h2 class="heading-medium" id="subsection-title">More information</h2>
    }
    <nav aria-labelledby="subsection-title" role="navigation">
        <ul class="font-xsmall">
            @if(SystemManager.IsDesignMode == SystemManager.IsPreviewMode)
            {
                if(Model != null && Model.Nodes.Count > 0)
                {
                    foreach(var node in Model.Nodes)
                    {
                        if(((PageSiteNode)node.OriginalSiteMapNode).ShowInNavigation == true)
                        {
                            if((node.IsCurrentlyOpened) == false)
                            {
                                <li>
                                    <a class="@GetClass(node)" href="@node.Url" target="@node.LinkTarget">@node.Title</a>
                                </li>
                            }
                        }
                    }
                }
            }
        </ul>
    </nav>
</aside>
